/* /* --------------------------------------------------------------
# General
-------------------------------------------------------------- */

body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
    margin-left: 320px;
  }
  
  a {
    color: #149ddd;
    text-decoration: none;
  }
  
  a:hover {
    color: #37b3ed;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  
  
  /* --------------------------------------------------------------
  # Header
  -------------------------------------------------------------- */
  
  #header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0px;
    width: 280px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
  }

    /* @media screen and (min-height: 550px) {
    .portfolio {
      height: fit-content;
    };
    
  } */
  /* try display block + position relative media query unset keyword right:0  set hight, width100% */

  @media screen and (max-width:1000px){
  #header{
    position: relative;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  

  }    
  body{
    margin-left: unset;
  }
  #navbar li{
      display: inline-block;
  }
  }
  #header .profile img {
    margin: 15px auto;
    display: block;
    width: 200px;
    border-radius: 50%;
    border: 8px solid #2c2f3f;
  }
  
  #header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
  }
  
  #header .profile h1 a, #header .profile h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .profile #social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    color: #fff;
    line-height: 1.5;
    padding: 12px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 25px;
    transition: 0.3s;
  }
  
  #header .profile #social-links a:hover {
    background: #149ddd;
    color: #fff;
    text-decoration: none;
    
  }
  
  #main {
    margin-left: 300px;
  }
 
  /* --------------------------------------------------------------
  # Navigation Menu
  -------------------------------------------------------------- */
  
  /* Desktop Navigation */


  
  .nav-menu {
    padding: 30px 0 0 0;
  }
  
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a, .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
  }
  
  .nav-menu a i, .nav-menu a:focus i {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
  }
  
  .nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-menu a:hover i, .nav-menu .active i, .nav-menu .active:focus i, .nav-menu li:hover > a i {
    color: #149ddd;
  }

  /* About section */

  #about {
    display: flex;
    flex-wrap: wrap;
    background-color: #212431;
    color: white;
    border-radius: 0.8%;
    justify-content: space-between;
    font-size: large;
  }
  
  #whoAm{
    padding: 1em;
    margin-left: 2em;
  }

  #whatCan{
    padding: 1em;
    margin-right: 5em;
  }
  #about h3 {
    text-align: center;
  }
  #about li {
    list-style:none;
  }



  /*resume styling starts */

  #resume{
    padding: 2em;
    font-size: large;
  }

  #resume p {
    text-align: center;
    font-size: large;
  }

  #resume h2{
    text-align: center;
  }

  /* fortfolio slider */
  .portfolio {
    margin: 0;
    padding: 15px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23E3C9;
    border-radius: 0.8%;
  }



  .slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }
  .slides{
    width: 500%;
    height: 500px;
    display: flex;

  }

  .slides input{
    display: none;
  }

  .slide{
    width: 20%;
    transition: 2s;
  }

  .slide img{
    width: 800px;
    height: 500px;
  }

  /* css for manual slide nav */

  .navigationManual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }

  .manual-btn{
    border: 2px solid #23E3C9;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }

  .manual-btn:hover{
    background: #23E3C9;
  }

  #radio1:checked ~ .first{
    margin-left: 0;
  }

  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for auto nav */

  .navigationAuto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }

  .navigationAuto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }

  .navigationAuto div:not(:last-child){
    margin-right: 40px;
  }

  #radio1:checked ~ .navigationAuto .auto-btn1{
    background: #40D3DC;
  }
  #radio2:checked ~ .navigationAuto .auto-btn2{
    background: #40D3DC;
  }
  #radio3:checked ~ .navigationAuto .auto-btn3{
    background: #40D3DC;
  }
  #radio4:checked ~ .navigationAuto .auto-btn4{
    background: #40D3DC;
  }

/* Employment saught section styling */

.employ{
  padding: 2em;
  font-size: large;
  text-align: center;
  margin-left: 2em;
  margin-right: 2em;
}

/* contact section */

.contact{
  color: white;
  font-size: large;
  text-align: center;
  background-color: #212431;
  border-radius: 0.8%;
  padding: 2em;
  padding-bottom: 2em;
}